name: Trivy Dependency Scan

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'kafka-bom/build.gradle.kts'
      - '.github/workflows/trivy-dependency-scan.yml'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      # Set fetch-depth: 0 to fetch commit history and tags for use in version calculation
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_READ_USER }}
          password: ${{ secrets.DOCKERHUB_READ_TOKEN }}

      - name: Build with Gradle
        uses: hypertrace/github-actions/gradle@main
        with:
          args: assemble dockerBuildImages

      - name: Run Trivy vulnerability scanner
        uses: hypertrace/github-actions/trivy-image-scan@main
        with:
          image: hypertrace/kafka-streams-framework
          output-mode: github